@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  width: auto;
  height: auto;
  background-color: #b4d4ec;
}

.container {
  margin: 3rem;
  display: flex;
  justify-content: center;
}

.game {
  background-color: #fcf1f1;
  height: 40vh;
  max-width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin: 1rem;
}

.game:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.game-img {
  max-width: 20vw;
  height: 25vh;
  margin: 1rem;
}

.game-title {
  margin-bottom: 0.5rem;
  color: #005a9e;
  font-size: 1.5rem;
}

.play-now-btn {
  background-color: #005a9e;
  color: #fcf1f1;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 0.5rem;
}
